
{{> header}}
<h1>Create New Offer</h1>
<p class="message"></p>

<form action="/create-offer" method="POST">
    <div>
        
        <input type="text" placeholder="Name..." name="productName">
    </div>
    <div>
        
        <input type="text" placeholder="Price..." name="productPrice">
    </div>
    <div>
      
        <input type="text" placeholder="Image url..." name="imageUrl">
    </div>
    <div>
   
        <textarea placeholder="Give us some description about this offer..." name="productDescription"></textarea>
    </div>
    <div>

        <input type="text" placeholder="Brand..." name="productBrand">
    </div>
    <div>
        <button>Create</button>
    </div>
</form>
{{> footer}}
